auto_update_database=true
connection.driver_class=com.mysql.jdbc.Driver
connection.username={{ openmrs_db_openmrs_user }}
connection.password={{ openmrs_db_openmrs_password }}
connection.url=jdbc\:mysql\://localhost\:3306/openmrs?{{ openmrs_db_connection_args }}
install_method=auto
module_web_admin=true
module.allow_web_admin=true

